.autocomplete-suggestions div {
	background-color: #30AED6;
	color: #fff;
	font-size: 20px;
}

.autocomplete-suggestions strong {
	font-weight: normal;
	color: #000;
}

.autocomplete-suggestions .autocomplete-selected {
  background: none repeat scroll 0 0 #999;
  color: #000;
}